html {
    height: 100%;
    min-width: 968px;
    overflow-y: hidden;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color:#666;
    height: 100%;
    margin: 0px;
}

#navbar {
    background-color: #EBEBEB;
    position: fixed;
    top: 0;
    height: 36px;
    width: 100%;
    z-index: 20;
    box-shadow: 1px 1px 3px #141414;
}

#toggleMine {
    height: 30px;
    margin-top: 3px;
}

#selected {
    display: none;
    position: fixed;
    top: 36px;
    width: 200px;
}

#searchCode {
    height: 30px;
    margin-top: 3px;
    padding: 0px 0px 0px 8px;
    border: 0px;
    border-radius: 4px;
}

#searchResult {
    background-color: #FFFEEE;
    display: none;
    position: absolute;
    left: 79px;
    top: 30px;
    z-index: 200;
    width: 295px;
    height: 200px;
    overflow: auto;
}

#searchList {
    display: none;
    padding-left: 20px !important;
    list-style-type: none;
}

#school {
    float: right;
    height: 30px;
    margin-top: 3px;
}

#content_container {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 36px;
    box-sizing: padding-box;
}

/* Sidebar */
#obligatory {
    display: inline-block;
    position: relative;
}

#elective {
    display: inline-block;
    position: relative;
}

#show-sidebar {
    position: fixed;
    top: 36px;
    right: 0px;
    z-index: 20;
    width: 30px;
    height: 30px;
}

#hide-sidebar {
    float: right;
}

#sidebar {
    position: fixed;
    top: 36px;
    right: -200%;
    height: calc(100% - 26px);
    z-index: 20;
    transition: 0.3s;
}

#list_title {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 32px;
}

#list_title div {
    text-align: center;
}

.selector_container {
    display: block;
    position: relative;
    line-height: 24px;
}

.course_container {
    background-color: #EBEBEB;
    height: 100%;
    width: 300px;
    overflow: auto;
}

#my_courses {
    display: none;
    position: fixed;
    width: 200px;
    height: 340px;
    left: -7px;
    top: 27px;
    z-index: 300;
}

.list_container {
    background-color: #EAEAEA;
    width: 90%;
    height: 210px;
    margin-left: 7px;
    margin-bottom: 13px;
    padding: 3px;
    border: 3px dotted #789871;
    box-shadow: inset 0px 0px 15px;
    overflow-y: auto;
}

.legend {
    display: block;
    position: relative;
    float: left;
    z-index: 5;
    margin-bottom: -10px;
    margin-left: 1.5em;
    font-size: 13px;
    text-shadow: 1px 1px 3px #FFF;
}

.course{
    display: block;
    padding-top: 3px;
    padding-left: 11px;
    list-style-type: none;
}

.course li {
    padding-bottom: 0px;
    font-size: 11px;
    text-align: left;
    border-bottom: 1px dotted;
}

.subject {
    line-height: normal;
}

.subject:hover {
    background-color: #CCC;
}

.subject span:nth-child(1) {
    display: block;
}

.subject span:nth-child(2) {
    display: block;
    padding-left: 20px;
}

/* Cell Blocks */
#form {
    width: 100%;
    height: calc(100% - 36px);
}

#time {
    width: 1%;
}

#time .cell {
    background-color: #EEE;
    width: 100%;
}

.day {
    height: 3% !important;
    background-color: #DEDEDE !important;
}

.column {
    background-color: #DEDEDE;
    display: inline-block;
    width: 150px;
    height: 100%;
    padding-right: 8px;
    font-size: 9px;
    overflow-y: auto;
}

.cell {
    background-color: #FFFFFF;
    display: inline-block;
    height: 70px;
    width: 100%;
    margin: 4px;
    text-align: center;
    border-radius: 3px;
    opacity: 0.8;
}

.cell:nth-last-child(1) {
    background-color: rgba(100,100,100,0);
    border:0px;
}

.dynamic_table {
    display: none;
    padding: 0px;
    margin: 0px;
    height: 100%;
    border: 0px;
}

.clearfix {
    visibility: hidden;
}

.extern {
    background-color: #EEEEEE;
    display: none;
    position: absolute;
    border-style: dashed;
    border-width: 2px;
    padding: 3px;
    z-Index: 200;
}
