html {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color:#666;
    height: 100%;
    margin: 0px;
}

#base_container {
    width: 100%;
    height: 100%;
}

#header {
    background-color: #EBEBEB;
    width: 100%;
    height: 48px;
    margin-bottom: -48px;
    padding: 0;
    box-shadow: 1px 1px 3px #141414;
}

#header h1 {
    display: inline-block;
    margin-left: 20px;
    line-height: 10px;
}

#content_container {
    display: block;
    width: 1300px;
    height: 100%;
    padding-top: 60px;
    margin: 0px;
    box-sizing: padding-box;
}

/* Sidebar */
#obligatory {
    display: inline-block;
    position: relative;
}

#elective {
    display: inline-block;
    position: relative;
}

#selected {
    display: none;
    position: relative;
}

#sidebar {
    display: inline-block;
    position: relative;
    height: 100%;
    padding: 0px;
    vertical-align: top;
    box-sizing: padding-box;
}

#list_title {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 32px;
}

#list_title div {
    text-align: center;
}

#selector_container {
    display: block;
    position: relative;
    line-height: 24px;
}

#search_by_code {
    display: none;
    width: 100%;
    margin-bottom: 30px;
}

#list_title_1 {
    background-color: #888888;
    display: inline-block;
    position: relative;
    width: 30%;
    height: 2em;
    margin: 0px;
    text-align: center;
    border-radius: 5px 0px 0px 0px;
    box-shadow: inset 0px 0px 3px;
    z-index: 3;
}

#list_title_2 {
    background-color: #EAEAEA;
    display: inline-block;
    position: relative;
    right: 5px;
    width: 30%;
    height: 2em;
    margin: 0px;
    border-radius: 0px 0px 0px 0px;
    text-align: center;
    z-index: 4;
}

#list_title_3 {
    background-color: #888888;
    display: inline-block;
    position: relative;
    right: 10px;
    width: 30%;
    height: 2em;
    margin: 0px;
    text-align: center;
    box-shadow: inset 0px 0px 3px;
    z-index: 2;
}

.course_container {
    background-color: #EBEBEB;
    height: 100%;
    width: 300px;
    overflow: auto;
}

#my_courses {
    display: none;
}

.list_container {
    background-color: #EAEAEA;
    width: 90%;
    height: 210px;
    margin-left: 7px;
    margin-bottom: 13px;
    padding: 3px;
    border: 3px dotted #789871;
    box-shadow: inset 0px 0px 15px;
    overflow-y: auto;
}

.course_container h1 {
    display: block;
    position: relative;
    width: 30px;
    float: left;
    z-index: 5;
    margin-bottom: -10px;
    margin-left: 1.5em;
    font-size: 13px;
    text-shadow: 1px 1px 3px #FFF;
}

.course{
    display: block;
    padding-top: 3px;
    padding-left: 11px;
    list-style-type: none;
}

.course li {
    padding-bottom: 0px;
    font-size: 11px;
    text-align: left;
    border-bottom: 1px dotted;
}

.subject {
    line-height: normal;
}

.subject:hover {
    background-color: #CCC;
}

.subject span:nth-child(1) {
    display: block;
}

.subject span:nth-child(2) {
    display: block;
    padding-left: 20px;
}

/* Cell Blocks */
#form {
    display: inline-block;
    position: relative;
    width: 60%;
    margin-left: 10px;
    white-space: 0xp;
    vertical-align: top;
}

#time {
    width: 1%;
}

#time .cell {
    background-color: #EEE;
    width: 100%;
}

.day {
    height: 3% !important;
    background-color: #666 !important;
    border-color: #666 !important;
}

.column {
    display: inline-block;
    width: 12%;
    padding: 0px;
    margin: 0px;
    font-size: 9px;
}

.column:nth-child(2) .cell {
    border-left-color: #000;
}

.cell {
    background-color: #DEDEDE;
    display: block;
    height: 50px;
    width: 100px;
    text-align: center;
    border:3px solid #EDEDED;
    border-top:0px solid #ccc;
}

.cell:nth-last-child(1) {
    background-color: rgba(100,100,100,0);
    border:0px;
}

.dynamic_table {
    display: none;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.clearfix {
    visibility: hidden;
}


.extern {
    background-color: #EEEEEE;
    display: none;
    position: absolute;
    border-style: dashed;
    border-width: 2px;
    padding: 3px;
    z-Index: 200;
}
