{% load staticfiles %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Octable</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}/">
</head>

<body>
    <div id="base_container">

        <nav id="header">
            <h1>Octable</h1>
        </nav>

        <div id="content_container">
            <div id="sidebar">
                <div id="list_title">
                    <div id="list_title_1">我的課程</div>
                    <div id="list_title_2">系所課程</div>
                </div>

                <div class="course_container" id="my_courses">
                    <input id="searchCode" type="text" placeholder="Search by code">
                    <h1 class="my_c legend">已選擇</h1>
                    <div class="list_container" id="selected">
                        <ul class="course"></ul>
                    </div>
                </div>

                <div class="course_container" id="dept_courses">
                    <div id="selector_container">

                        <select id="department"></select>

                        <select id="grade">
                            <option value="0">All</option>
                            <option value="1">一</option>
                            <option value="2">二</option>
                            <option value="3">三</option>
                            <option value="4">四</option>
                        </select>
                    </div>
                    <h1 class="dept_c legend">必修</h1>
                    <div class="list_container" id="obligatory">
                        <ul class="course"></ul>
                    </div>
                    <h1 class="dept_c legend">選修</h1>
                    <div class="list_container" id="elective">
                        <ul class="course"></ul>
                    </div>
                </div>

                <div id="searchResult"><ul id="searchList"></ul></div>
            </div>

            <div id="form">
                <div class="column" id="time">

                    <div class="cell day" id="000"></div>
                    {% for i in '1234N56789'|make_list %}
                        <div class="cell" id="00{{ i }}">{{ i }}</div>
                    {% endfor %}
        
                    <div class="dynamic_table">
                        {% for i in 'ABCD'|make_list %}
                            <div class="cell" id="00{{ i }}">{{ i }}</div>
                        {% endfor %}

                        <div class="clearfix">
                            <br>
                        </div>
                    </div>
                    <div class="clearfix">
                        <br>
                    </div>
                </div>

                {% for k in '123456'|make_list %}
                    <div class="column" id="{% cycle 'Mon' 'Tue' 'Wed' 'Thr' 'Fri' 'Sat' %}">
                        <div class="cell day" id="{{ k }}00">{% cycle '一' '二' '三' '四' '五' '六' %}</div>

                        {% for i in '1234N56789'|make_list %}
                            <div class="cell" id="{{ k }}0{{ i }}"  mom=""></div>
                        {% endfor %}

                        <div class="dynamic_table">
                            {% for i in 'ABCD'|make_list %}
                                <div class="cell" id="{{ k }}0{{ i }}" mom=""></div>
                            {% endfor %}
                            <div class="clearfix">
                                <br>
                            </div>
                        </div>
                        <div class="clearfix">
                            <br>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="extern" id="extern"></div>
        </div>
    </div>

    <script type="text/javascript" src="./static/js/course.js"></script>
    <script type="text/javascript" src="./static/js/table.js"></script>
</body>

</html>
