<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Octable</title>
        <!-- Modernizr -->
        <script src="./static/groundwork/js/libs/modernizr-2.6.2.min.js"></script>
        <!-- framework css -->
        <!--[if gt IE 9]><!-->
        <link type="text/css" rel="stylesheet" href="./static/groundwork/css/groundwork.css">
        <!--<![endif]-->
        <!--[if lte IE 9]>
        <link type="text/css" rel="stylesheet" href="./static/groundwork/css/groundwork-core.css">
        <link type="text/css" rel="stylesheet" href="./static/groundwork/css/groundwork-type.css">
        <link type="text/css" rel="stylesheet" href="./static/groundwork/css/groundwork-ui.css">
        <link type="text/css" rel="stylesheet" href="./static/groundwork/css/groundwork-anim.css">
        <link type="text/css" rel="stylesheet" href="./static/groundwork/css/groundwork-ie.css">
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="./static/css/styles.css">

    </head>

    <body>
        <h2 id="title" class="responsive" data-compression="25">
            Octable
        </h2>
        <div class="row">
            <div id="table-container" class="three fourths">

                <table class="responsive" data-max="15">
                    <thead>
                        <tr>
                            <th>~~</th>
                            <th>一</th>
                            <th>二</th>
                            <th>三</th>
                            <th>四</th>
                            <th>五</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>N</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="one fourth" style="padding:1rem">
                <div class="tabs">
                    <ul role="tablist">
                        <li role="tab" aria-controls="#tab1">Tab 1</li>
                        <li role="tab" aria-controls="#tab2">Tab 2</li>
                        <li role="tab" aria-controls="#tab3">Tab 3</li>
                    </ul>
                    <div id="tab1" role="tabpanel">
                        <h1>This is the content of tab <span class="blue">panel 1</span></h1>

                    </div>
                    <div id="tab2" role="tabpanel">
                        <h1>This is the content of tab <span class="red">panel 2</span></h1>
                    </div>
                    <div id="tab3" role="tabpanel">
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="./static/js/course.js"></script>
        <script type="text/javascript" src="./static/js/table.js"></script>
        <script type="text/javascript" src="./static/groundwork/js/libs/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="./static/groundwork/js/groundwork.all.js"></script>
    </body>

</html>
