<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <title>Octable</title>
        <!-- Modernizr -->
        <script src="./static/groundwork/js/libs/modernizr-2.6.2.min.js"></script>
        <!-- framework css -->
        <!--[if gt IE 9]><!-->
        <link type="text/css" rel="stylesheet" href="./static/groundwork/css/groundwork.css">
        <!--<![endif]-->
        <!--[if lte IE 9]>
        <link type="text/css" rel="stylesheet" href="./static/groundwork/css/groundwork-core.css">
        <link type="text/css" rel="stylesheet" href="./static/groundwork/css/groundwork-type.css">
        <link type="text/css" rel="stylesheet" href="./static/groundwork/css/groundwork-ui.css">
        <link type="text/css" rel="stylesheet" href="./static/groundwork/css/groundwork-anim.css">
        <link type="text/css" rel="stylesheet" href="./static/groundwork/css/groundwork-ie.css">
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="./static/css/styles.css">

    </head>

    <body>
        <h2 id="title" class="responsive" data-compression="25" style="font-family: 'Lobster', cursive;">
            Octable
        </h2>
        <div class="row">
            <div id="table-container" class="three fourths">

                <table class="responsive" data-max="15">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Mon</th>
                            <th>Tue</th>
                            <th>Wed</th>
                            <th>Thr</th>
                            <th>Fri</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>N</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div id="tabs-container" class="one fourth" style="padding:1rem">
                <div class="tabs mobile">
                    <ul role="tablist">
                        <li role="tab" aria-controls="#tab1" style="">All</li>
                        <li role="tab" aria-controls="#tab2">My Course</li>
                    </ul>
                    <div id="tab1" role="tabpanel">
                        <div class="row">
                            <div class="two thirds" style="padding:0.2rem;">
                                <select name="Department">
                                    <option>系所</option>
                                    <option>資訊系</option>
                                    <option>電機系</option>
                                </select>
                            </div>
                            <div class="one third" style="padding:0.2rem;">
                                <select name="Grade">
                                    <option>一</option>
                                    <option>二</option>
                                    <option>三</option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div id="tab2" role="tabpanel">
                        nothing here
                        <code >int a;</code>
                    </div>

                </div>
            </div>
        </div>
        <script type="text/javascript" src="./static/js/course.js"></script>
        <script type="text/javascript" src="./static/js/table.js"></script>
        <script type="text/javascript" src="./static/groundwork/js/libs/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="./static/groundwork/js/groundwork.all.js"></script>
    </body>

</html>
